:root{
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
}

#navbar{
    padding: 14px 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
}

#navbar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar > ul > li{
    margin: 0px 20px;
    list-style: none;
    font-size: 14px;
    color: var(--GrayishBlue);
}

button{
    width: 168px;
    height: 48px;
    border: none;
    border-radius: 40px;
    color: var(--White);
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}

#mainContent{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContent > .content-panel{
    width: 50%;
    height: 100%;
    padding: 140px;
}

#mainContent > .content-panel > h1{
    font-size: 58px;
    font-weight: 300;
    margin-top: 50px;
}

#mainContent > .content-panel > p{
    margin: 30px 0px;
    color: var(--GrayishBlue);
    font-size: 18px;
    line-height: 28px;
}

#mainContent > .main-content-mobile{
    height: 100%;
    width: 50%;
    background-image: url("src/assets/images/bg-intro-desktop.svg");
    background-position: -40px -260px;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

#mainContent > .main-content-mobile > img{
    position: absolute;
    bottom: -115px;
    /* left: 65px; */
    width: 100%;
}

#features{
    background-color: var(--LightGrayishBlue);
    padding: 120px 140px;
}

#features > h1{
    font-size: 38px;
    font-weight: 300;
}

#features > p{
    margin: 20px 200px 0px 0px;
    font-size: 18px;
    color: var(--GrayishBlue);
    line-height: 26px;
}

#features > .feature-cards{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-card{
    margin-right: 24px;
}

.feature-card > h2{
    margin: 26px 0px;
    font-size: 24px;
    font-weight: 300;
}

.feature-card > p{
    line-height: 26px;
    color: var(--GrayishBlue);
}

#latestArticle{
    padding: 120px 140px;
    background-color: var(--VeryLightGray);
}

#latestArticle > h1{
    font-size: 38px;
    font-weight: 300;
}

#latestArticle > .latest-articles-cards{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-card{
    width: 270px;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
}

.article-card > img{
    width: 100%;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
}

.article-card > span{
    margin: 26px 0px 8px 0px;
    font-size: 12px;
    color: var(--GrayishBlue);
    padding: 0px 24px;
}

.article-card > h3{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 24px;
}

.article-card > p{
    margin: 10px 0px 20px 0px;
    font-size: 13px;
    color: var(--GrayishBlue);
    padding: 0px 24px;
    line-height: 20px;
}

#footer{
    padding: 60px 140px;
    width: 100%;
    background-color: var(--DarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer > .logo-pages{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer > .logo-pages > .logo-social > .social-icon{
    margin-top: 50px;
    
}

#footer > .logo-pages > .logo-social > .social-icon > img{
    margin-right: 12px;
}

#footer > .logo-pages > .pages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
}

#footer > .logo-pages > .pages > a{
    text-decoration: none;
    color: var(--White);
    margin: 10px 0px;
    font-size: 15px;
}

#footer > .invite-copywrite{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#footer > .invite-copywrite > p{
    margin-top: 28px;
    font-size: 15px;
    color: var(--GrayishBlue);
}