:root{
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
}

#navbar{
    padding: 14px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--White);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
}

#navbar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar > ul > li{
    margin: 0px 20px;
    list-style: none;
    font-size: 16px;
    color: var(--GrayishBlue);
}

#navbar > button{
    width: 168px;
    height: 48px;
    border: none;
    border-radius: 40px;
    color: var(--White);
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}

#mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContent > .main-content-mobile{
    background-image: url("src/assets/images/bg-intro-desktop.svg");
}